.container{
  width: 100%;
  display: flex;
}

.side_bar_container{
  width: 10%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(179, 54, 54);
  height: 100vh;
  padding-top: 80px;
}

.contents_container{
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.header{
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 2px rgb(238, 238, 238);;
}

.header_menu{
  width: 40%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.main{
  width: 100%;
  background-color: rgb(238, 238, 238);
  height: 900px;
  overflow: scroll;
}

.side_bar_btn{
  width:100%;
  padding: 10px;
  margin: 10px;
  color:  #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.app_menu_items{
  padding: 10px;
  margin: 10px;
  color:  rgb(179, 54, 54);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}

.card_container{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.event_card{
  width: 45%;
  background: #fff;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
}

.card_image_container{
  width: 20%;
  height: 120px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_content{
  margin-left: 10px;
  width: 55%;
}

.contact_title{
  margin-left: 40px;
  font-size: 28px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(214, 20, 20); 
}

.content_name{
  font-size: 18px;
  font-weight: bold;
  line-height: 0.5;
}

.content{
  font-style: italic;
  color: rgb(230, 138, 138); 
  line-height: 0.5;
}

.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input{
  width: 50%;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid black
}

.button{
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
  border: none;
  color:#fff;
  background-color:  rgb(179, 54, 54);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}

.add_contact_title{
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(214, 20, 20); 
}
.del_btn_container{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.bk_del_btn_container{
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.owner{
  color: rgb(175, 170, 170);
  font-size: small;
  line-height: 0.9px;
}

.preview_container{
  max-width: 60%;
  height: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
  margin-left: 20%;
  margin-top: 10%;
}

.divider{
  width: 3px;
  background-color: gray;
  margin: 10px;
}

.meet_info {
  padding: 20px;
}

.slot {
  padding: 0px 30px 0px 30px;
  height: 100%;
  overflow-y: scroll;
}

.slotTime{
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 100%;

}

.slotTime:hover{
  color: #fff;
  background-color: black;
  cursor: pointer;
}

.meet_info_two {
  width: 45%;
}

.info_input{
  width: 45%;
  margin-left: 20px;
}

.bk_btn_container{
  width: 100%;
  display: flex;
  
}

.bk_input{
  width: 95%;
  margin: 10px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid black
}

.preview_container_two{
  max-width: 60%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
  margin-left: 20%;
  margin-top: 10%;
}

.bk_label{
  margin-left: 10px;
}

.add_guest_label{
  margin-left: 10px;
  cursor: pointer;
}

.bk_event_card{
  width: 100%;
  background: #fff;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
}

.bk_card_content{
  margin-left: 10px;
  width: 80%;
  display: flex;
}

.bk_content_container{
  margin-left: 20px;
}

.bk_contents{
  font-size: 15px;
  /* line-height: 1; */
}

.bk_contents_a{
  font-size: 15px;
  line-height: 0.5;
}

.bk_contents_a:hover{
  color: blue;
}

.bk_content_time{
  font-size: 15px;
  line-height: 0.5;
  color: gray;
}

.booking_main_container{
  width: 100%;
  padding: 0px 30px 0px 30px;
}

.bk_comment{
  margin-bottom: 70px;
  line-height: 0.5px;
  color: gray;
}

.bk_btn_span{
  margin-left: 5px;
}

.av_time_container{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.av_container_card{
  width: 100%;
  background: #fff;
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 20px;
}

.av_time_card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.av_hr{
  width: 100%;
  border: 0.5px solid rgb(238, 235, 235);
}

.av_time_select {
  margin: 7px
}
.av_day_select {
  margin: 7px;
  padding: 13px;
}

.av_label{
  margin: 7px;
}

.av_button{
  width: 10%;
  align-self: flex-end;
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
  border: none;
  color:#fff;
  background-color:  rgb(179, 54, 54);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}

.av_day_div{
  padding: 5px;
  border: 1px;
  background-color: rgb(223, 219, 219);
  border-radius: 4px;
}